# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/
env/

# Environment variables
.env

# Jupyter
.ipynb_checkpoints/

# Data
data/raw/*
data/processed/*
data/synthetic/*

# Models
models/*.pkl
models/*.joblib
models/*.pt
models/*.pth

# MLflow
mlruns/

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/

# Temporary
*.tmp
*.temp